<%= stylesheet_link_tag 'tweets', :media => "all" %>
<h1>保護猫とcafe探し</h1>
<%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: { turbo: false } %>
<h3>保護猫カフェ一覧</h3>

<%= link_to "新規投稿へ", new_tweet_path %>
<%= page_entries_info @tweets_for_list %>
<%= paginate @tweets_for_list %>

<div class="tweets-container">
    <% @tweets_for_list.each do |t| %>
    <div class="tweet">
    <% if t.image.attached? %>
        <%= image_tag t.image, size: '250x200'%>
    <% end %>
    
        <%= t.user.email %>
        <%= t.name %>
        <%= t.body %>
    <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
            <i class="fa-sharp fa-solid fa-cat"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
            <i class="fa-sharp fa-solid fa-cat"></i><%= t.likes.count %>
            <% end %>
        <% end %>
    <% else %>
        <i class="fa-sharp fa-solid fa-cat"></i><%= t.likes.count %>
    <% end %>
        <%= t.created_at %>
        <%= link_to "詳細へ", tweet_path(t.id) %>
        <%= link_to "編集する", edit_tweet_path(t.id) %>
        <%= button_to "削除する", tweet_path(t.id), method: :delete %>
        </div>
<% end %>
</div>
<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
    <%= submit_tag '検索' %>
<% end %>

<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
    <%= text_field_tag :tag %>
    <%= submit_tag 'タグを追加' %>
<% end %>


<h2>カフェまっぷ</h2>
<%= form_with(url: tweets_path, method: :get, local: true) do |f| %>
  <%= f.text_field :search, placeholder: "建物名で検索" %>
  <%= f.submit "地図を移動" %>
<% end %>


<div id='map'></div>

<style>
#map {height: 600px;width: 600px;}
</style>

<script>
let map


window.initMap = function() { 
geocoder = new google.maps.Geocoder();

  const searchedLat = <%= @searched_lat.present? ? @searched_lat.to_f : 'null' %>;
    const searchedLng = <%= @searched_lng.present? ? @searched_lng.to_f : 'null' %>;

    let initialCenter;
    let initialZoom;

    // 検索結果の緯度・経度が存在する場合
    if (searchedLat && searchedLng) {
      // 地図の中心を検索結果の場所にする
      initialCenter = { lat: searchedLat, lng: searchedLng };
      initialZoom = 17; // 検索した場合は少し拡大する
    } else {
      // 検索していない場合は、デフォルトの場所（例：東京駅）を中心にする
      initialCenter = { lat: 35.681236, lng: 139.767125 };
      initialZoom = 12; // 通常は広めの表示
    }

    map = new google.maps.Map(document.getElementById('map'), {
      center: initialCenter, // 動的に中心位置を設定
      zoom: initialZoom,     // 動的にズームレベルを設定
    });

    <% @tweets_for_map.each do |tweet| %>
      <% if tweet.lat.present? && tweet.lng.present? %>
        (function() {
          // ↓↓↓ ここが重要！ .to_f を使って必ず数値に変換する ↓↓↓
          const markerLatLng = { lat: <%= tweet.lat.to_f %>, lng: <%= tweet.lng.to_f %> };
          
          const marker = new google.maps.Marker({
            position: markerLatLng,
            map: map
          });

          const infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: `<a href='<%= tweet_url(tweet.id) %>' target='_blank'><%= j(tweet.body) %></a>`
          });
          
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        })();
      <% end %>
    <% end %>
  };


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-sPnm9UXdKCOD9Q-aPY2wJogqCCuzveg&callback=initMap" async defer></script>
